<nav>
    <ul>
        <li>
            <a routerLink="/">Accueil</a>
        </li>
        <li>
            <a routerLink="/demos">Section : Démonstrations</a>
            <ul>
                <li>
                    <a routerLink="/demos/demo01">Démonstration 01 : Les composants</a>
                </li>
                <li>
                    <a routerLink="/demos/demo02">Démonstration 02 : Les composants</a>
                </li>
                <li>
                    <a routerLink="/demos/demo03">Démonstration 03 : Le binding de propriétés</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/exos">Section : Exercices</a>
        </li>
    </ul>
</nav>
